<button class="btn btn-primary" [routerLink]="['/emp-list']" >Go to Employee List</button>

<div class="d-flex justify-content-center align-items-center vh-100">
  <form [formGroup]="employeeForm"  (ngSubmit)="onSubmit()" class="p-4 border rounded shadow bg-white" style="min-width: 300px; max-width: 500px; width: 100%;">
    <h4 class="text-center mb-4">Employee Registration</h4>

    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input formControlName="firstName" type="text" class="form-control" id="firstName" [ngClass]="{'is-invalid': employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched}">
      <div class="text-denger">
        @if(employeeForm.controls['firstName'].touched && employeeForm.controls['firstName'].errors?.['required']){
        <span> Name is required</span> 
        }
    </div>
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input formControlName="lastName" type="text" class="form-control" id="lastName" [ngClass]="{'is-invalid': employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched}">
      <div class="text-denger">
        @if(employeeForm.controls['lastName'].touched && employeeForm.controls['firstName'].errors?.['required']){
        <span>Last Name is required</span>
        }
    </div>
    </div>

    <div class="mb-3">
      <label for="userName" class="form-label">Username</label>
      <input formControlName="userName" type="text" class="form-control" id="userName" [ngClass]="{'is-invalid': employeeForm.get('userName')?.invalid && employeeForm.get('userName')?.touched}">
      <div class="invalid-feedback">Username is required</div>
    </div>

    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input formControlName="city" type="text" class="form-control" id="city">
    </div>

    <div class="mb-3">
      <label for="state" class="form-label">State</label>
      <input formControlName="state" type="text" class="form-control" id="state">
    </div>

    <div class="mb-3">
      <label for="zipcode" class="form-label">Zip Code</label>
      <input formControlName="zipCode" type="text" class="form-control" id="zipcode">
    </div>

    <button type="submit" [disabled]="employeeForm.invalid" class="btn btn-primary w-100">Submit</button>
  </form>
</div>

<br>
<hr>
<div class="col-4">
{{formValue | json}}
</div>
